* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* A4 page layout in landscape */
@page {
    size: A4 landscape;
    margin: 10mm;
}

@media print {
    body {
        width: 297mm;
        height: 210mm;
        margin: 0;
        padding: 0;
        background: white;
    }
}

/* Container with margin to fit A4 landscape size */
.container {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: white;
    margin: 0 auto;
}

#title_main {
    /*text-align: left;*/
    position: relative;
    top:0;
    left:0;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.logo-box {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}


.temporal-table {
    width: 100%;
    margin-bottom: 20px;
}

.temporal-table th, .temporal-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

.temporal-table table {
    width: 100%;
    border-collapse: collapse;
}

.area-info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.area-info {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 20px;
}

.area-info table {
    width: 100%;
    border-collapse: collapse;
}

.area-info th, .area-info td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.area-info th {
    background-color: #f2f2f2;
}

.legend-and-data-source {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.legend-section, .data-source {
    width: 45%;
    border: 1px solid #ccc;
    padding: 10px;
}

.data-source h3{
    text-align: center;
}

.legend-section th {
    text-align: left;
}

.legend-section h2{
    text-align: center;
}

.legend-section ul, .data-source ul {
    list-style: none;
    padding-left: 0;
}

.legend-section li, .data-source li {
    margin-bottom: 5px;
}

.technical-data {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

.technical-data ul {
    list-style: none;
    padding-left: 0;
}

.technical-data li {
    margin-bottom: 5px;
}

h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

.powered-by {
    position: relative;
    bottom: 0;
    right: 0;

}

.risk-level {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
  }

  .risk-level.low {
    background-color: green;
  }

  .risk-level.medium {
    background-color: yellow;
  }

  .risk-level.high {
    background-color: gray;
  }

  .risk-level.go {
    background-color: orange;
  }

  .risk-level.nogo {
    background-color: pink;
  }

  .risk-level.deforestation {
    background-color: red;
  }