<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css', _external=True) }}">

</head>
<body>
    <div class="container">
        <header>
            <h1>{{ title }}</h1>
        </header>

        <section class="message">
            <p>{{ message.greeting }}</p>
            <p>{{ message.content_1 }}</p>
{#            <p>{{ message.content_2 }}</p>#}
        </section>

        <section class="images">
            <div class="image-box">
                <img src="{{ images.image1 }}" alt="Image 1 Placeholder">
            </div>
            <div class="image-box">
                <img src="{{ images.image2 }}" alt="Image 2 Placeholder">
            </div>
        </section>

        <section class="stats">
            <div class="stat-box">
                <p>{{ stats.sessions }}</p>
                <span>Sessions</span>
            </div>
            <div class="stat-box">
                <p>{{ stats.avg_session_duration }}</p>
                <span>Avg. Session Duration</span>
            </div>
            <div class="stat-box">
                <p>{{ stats.new_sessions }}</p>
                <span>% New Sessions</span>
            </div>
            <div class="stat-box">
                <p>{{ stats.bounce_rate }}</p>
                <span>Bounce Rate</span>
            </div>
            <div class="stat-box">
                <p>{{ stats.goal_completions }}</p>
                <span>Goal Completions</span>
            </div>
            <div class="stat-box">
                <p>{{ stats.pages_per_session }}</p>
                <span>Pages/Session</span>
            </div>
        </section>
    </div>
</body>
</html>
